body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: slategray;
}

header {
    background-color: #333;
    padding: 10px;
    text-align: center;
}

ul {
    list-style: none;
    margin: 0;
    padding: 20px;
    background-color: yellowgreen;
  
}

li {
    display: inline-block;
    margin-right: 20px;
}

a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 24px;
}

 
.take-test-button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.take-test-button:hover {
    background-color: #45a049; /* Darken the color on hover */
}
/* Add this CSS to your stylesheet */

