
<img  class="well" src="https://media.istockphoto.com/id/1331816161/vector/well-being-blue-and-green-typography-banner.jpg?s=612x612&w=0&k=20&c=AoxrLqsfY7hskBAh9uhIp7TzgoWY0mCOGRtYtWNc0i4=">
<h1>WHO Quality of Life-BREF (WHOQOL-BREF)</h1>

<div class="container">
    <h4>
      <li>A self-report questionnaire that contains 26 items and addresses 4 QOL domains: physical health (7 items), psychological health (6 items), social relationships (3 items), and environment (8 items). Two other items measure overall QOL and general health.</li>
      <li>Items are rated on a 5-point Likert scale (low score of 1 to high score of 5) to determine a raw item score. Subsequently, the mean score for each domain is calculated, resulting in a mean score per domain that is between 4 and 20. Finally, this mean domain score is then multiplied by 4 in order to transform the domain score into a scaled score, with a higher score indicating a higher QOL. When transformed by multiplying x4, each domain score is then comparable with the scores used in the original WHOQOL-100.</li>
      <li>Self-administration is recommended if the respondent has sufficient ability; if not, interviewer assisted or interview-administered forms should be used.</li>
    </h4>
  </div>